<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>EL PAÍS ES: </h1>

    <img src="<%= bandera %>" alt="">

    <p>
        <%= nombre %>
    </p>
</body>
</html>